<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Livres</title>
</head>
<body>
  <ul>
    <li>titre-Auteur-Editeur-Prix</li>
    <li>titre-Auteur-Editeur-Prix</li>
    <li>titre-Auteur-Editeur-Prix</li>
    <li>titre-Auteur-Editeur-Prix</li>
  </ul>    
</body>
</html>